---
title: "Yamaha Helm Master EX Test Run"
image: "https://s1.dmcdn.net/v/SOgRO1VD26Oa4kQkO/x240"
vid_id: "x7vj7bs"
categories: "tech"
tags: ["yamaha","outboards","outboard engines"]
date: "2020-08-16T22:23:02+03:00"
duration: "PT6M52S"
---
We spent the morning with the folks at Yamaha testing out the new Helm Master EX boat control system on a single-outboard powered boat.
